{{ define "layout" }}

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="description" content="Golang Templating Practice using the html/template package.">
            <meta name="keywords" content="golang,go,templating,html/template">
            <meta name="author" content="George Shaw">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>{{ .PageTitle }} - Golang Templating Practice</title>

            <link type="text/css" rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
            <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
        </head>
        <body>
            {{ template "navigation" . }}

            {{ template "jumbotron" . }}

            <div class="container">
                {{ template "content" . }}
            </div>

            {{ template "footer" . }}

            <script type="text/javascript" src="/assets/bootstrap/js/jquery.min.js"></script>
            <script type="text/javascript" src="/assets/bootstrap/js/popper.min.js"></script>
            <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
        </body>
    </html>

{{ end }}